# ===== 环境配置文件 =====
.env
**/config.env
!**/config.env.example

# ===== 运行时数据 / 缓存 / 数据库 =====
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
.doubao_api_cache.json
**/code.bin
AppData/
node_modules/
/public/assets
**/.DS_Store
**/target/
**/Cargo.lock
rust_audio_engine/.cargo/
**/reports/
.npmrc
styles/themes.css
vendor/LibreHardwareMonitor/*
!vendor/LibreHardwareMonitor/README.md
bin/
/WebIndexTTS2/tmp-output/
